@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Business.Models.ProductModel>


<div class="text-center p-5">
    <div class="d-flex justify-content-between mb-3 bg-light">
    <h3 class="text-primary">All Products</h3>
    <a asp-action="Add" asp-controller="Home" class="btn btn-primary text-decoration-none">Add Product</a>
    </div>

        <div class="row bg-light pb-2 pt-2 text-primary">
            <h5 class="col-2 text-start">Product Title</h5>
            <h5 class="col-2 text-start">Description</h5>
            <h5 class="col-2 text-start">Price</h5>
            <h5 class="col-2 text-start">Featured</h5>
            <h5 class="col-2 text-start">Top Rated</h5>
            <h5 class="col-2 text-start">Actions</h5>

        </div>
    @foreach(var product in Model)
    {   
        <div class="row bg-light pb-2 pt-2">
                <p class="col-2 text-start">@product.Title</p>
                <p class="col-2 text-start">@product.Description</p>
                <p class="col-2 text-start">@product.Price</p>
                <p class="col-2 text-start">@product.IsFeaturedOutput</p>
                <p class="col-2 text-start">@product.IsTopRatedOutput</p>
                <div class="col-2">
                    <a asp-action="Delete" asp-controller="Home" class="btn btn-primary text-decoration-none" asp-route-id="@product.Id">Delete</a>
                <a asp-action="Update" asp-controller="Home" class="btn btn-primary text-decoration-none" asp-route-id="@product.Id">Update</a>
                </div>
        </div>
    }
</div>
